{{ define "main" }}

<article class="article-page">

    <header class="article-header">

        {{ with .Params.category }}
        <div class="article-category">{{ . }}</div>
        {{ end }}

        <h1>{{ .Title }}</h1>

        <div class="article-meta">
            {{ .Date.Format "02 January 2006" }}
        </div>

        {{ with .Params.description }}
        <p class="article-description">{{ . }}</p>
        {{ end }}

    </header>

    <div class="article-layout{{ with .Params.cover_image }} article-layout-with-cover{{ end }}">
        {{ with .Params.cover_image }}
        <figure class="article-cover">
            <img src="{{ . | relURL }}" alt="{{ $.Title }}">
        </figure>
        {{ end }}

        <div class="article-content article-font-{{ .Params.article_font | default "serif" }} article-size-{{ .Params.article_size | default "comfortable" }}">
            {{ .Content }}
        </div>
    </div>

</article>

{{ end }}
